services:
  server:
    build:
      context: .
      dockerfile: server/Dockerfile
    ports:
      - "8001:8001"

  mcp_server:
    build:
      context: .
      dockerfile: mcp_server/Dockerfile
    ports:
      - "8002:8002"

